._3nnMZzZKl8PS3i5asdckIh {
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto; }
  ._3nnMZzZKl8PS3i5asdckIh img {
    height: 40px; }

._2BhPq4KUkcMYhEZyng_Tl_ {
  display: block;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: #324353;
  padding: 1rem 2rem; }
  @media print {
    ._2BhPq4KUkcMYhEZyng_Tl_ {
      display: none; } }

._2nzBcgQg32A_PLGnuvPO4d {
  font-family: "Montserrat", sans-serif; }
  ._2nzBcgQg32A_PLGnuvPO4d a {
    font-family: "Montserrat";
    color: #c1c9d1;
    font-size: 1.15rem;
    padding: 0 0 0 3.5rem !important;
    font-weight: 500; }
    ._2nzBcgQg32A_PLGnuvPO4d a:hover {
      color: #fff;
      text-decoration: none; }
  ._2nzBcgQg32A_PLGnuvPO4d._1rrHNablnjU53NYBZt8aUp a {
    color: #fff;
    pointer-events: none; }

.E7sXNZCbQTSDVgjz6ZTbt {
  display: none; }

@media (max-width: 767px) {
  ._3nnMZzZKl8PS3i5asdckIh {
    display: block; }
  ._2nzBcgQg32A_PLGnuvPO4d {
    display: block;
    padding: .5rem 0;
    text-align: right; }
    ._2nzBcgQg32A_PLGnuvPO4d a {
      padding: 0 !important; }
  .E7sXNZCbQTSDVgjz6ZTbt {
    display: inline-block;
    position: absolute;
    right: 30px;
    padding: 0.25rem 0;
    line-height: 1;
    background-color: transparent;
    border: transparent; }
    .E7sXNZCbQTSDVgjz6ZTbt:hover {
      text-decoration: none;
      filter: brightness(110%); }
  ._3uzbxCVVzCb6YzuI3UNwef {
    height: 2em;
    width: 2em;
    color: #0099cc; } }

._2gteCBBGtcoz5o1BuvsB9F {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #324353;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1280px; }
  ._2gteCBBGtcoz5o1BuvsB9F a {
    font-family: "Montserrat", sans-serif;
    color: #c1c9d1; }
    ._2gteCBBGtcoz5o1BuvsB9F a:hover {
      color: #fff;
      text-decoration: none; }
  ._2gteCBBGtcoz5o1BuvsB9F div {
    text-align: left;
    margin-left: 2rem; }

@media print {
  #_2HRkZQw4THQ3DH__nfESc6 {
    display: none; } }

